{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4>Set New Password</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label>New password</label>
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="mb-3">
                        <label>Confirm new password</label>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
